extends ./layouts/layout.jade


block content
    - each val in articles
        if val.type == "article-simple"
            +article(
                val.title, 
                val.image, 
                val.texte, 
                val.cta
            )
        
        else if val.type == "article-presse"
            +article-presse(
                val.title, 
                val.image, 
                val.liens,
                val.cta
            )
            
        
        else
            p ne correspond pas
            hr 
        





    
