@import "reset.scss";
$white: white;
$gris: #666666;
$gris-claire:#e3e3e3;
$gris-fonce: #171717;
$vert-clair:#178b91;
$font: "Open Sans",Trebuchet MS,Verdana, arial, sans-serif;


a {
    color: $vert-clair;
}

img {
    width:100%;
    height: auto;
}

.body-wrap {
    background-color: #EAECED;
    font-family:$font;
    font-size: 14px;
}

.wrap-newsletter {
    background-color: inherit;
}


.logo {
    line-height: 20px;
    font-size: 20px;
    color: $vert-clair;
}



.header {
    background-color:$vert-clair ;

    .title{
        font-family:$font;
        font-size: 30px;
        text-transform: uppercase;
        font-weight: bold;
        color: $white;
    }
    .ico{
        width: 20px;
    }
    .date {
        font-family:$font;
        font-size: 14px;
        text-transform: uppercase;
        color: $gris-claire;
        font-weight: 100;
    }
}




.article {
    background-color: white;
    font-family:$font;

    .titre {
        font-size: 35px;
        color: $gris-fonce;
        font-family:$font;
    }
    .description {
        font-family:$font;
        color: $gris;
        font-size: 16px;
        line-height: 30px;
    }
}

.footer{
    color: $gris;
    font-family:$font;

    .adresse {
        font-family:$font;
        color: #cccccc ;
        font-size: 12px;
        line-height: 20px;
    }
}
