tr
    td
        table.footer(align="center"  border="0" cellpadding="0" cellspacing="0")
            tbody
                tr
                    +margin(20)
                tr
                    td(align="center" width="100%‚" style="font-size:22px;")
                        |Suivez nous !
                tr
                    +margin(5)
                
                tr
                    td(align="center" width="100%‚")
                        
                        //- button facebook
                        table(align="left" border="0" cellpadding="0" cellspacing="0")
                            tbody
                                tr
                                    +margin(60,20)
                                    td(align="left")
                                        +SocialButton('#ffffff','#3B5998','https://www.facebook.com/payname.fr','Facebook','https://gallery.mailchimp.com/8ed9706f04d0d6f6c1e850f81/images/7c168c3f-6d9a-4357-9876-4dfa78c4adca.png')
                        
                        //- button Twitter
                        table(align="left" border="0" cellpadding="0" cellspacing="0")
                            tbody
                                tr  
                                    +margin(60,20)
                                    td(align="left")
                                        +SocialButton('#ffffff','#55acee','https://twitter.com/payname','Twitter','https://gallery.mailchimp.com/8ed9706f04d0d6f6c1e850f81/images/81209fac-cced-438b-97a2-503b6076eb2b.png')
                        
                        //- button Youtube
                        table(align="left" border="0" cellpadding="0" cellspacing="0")
                            tbody
                                tr
                                    +margin(60,20)
                                    td(align="left")
                                        +SocialButton('#ffffff','#e52d27','https://www.youtube.com/channel/UCYh3kP85vWzXGd6kwsGBXWQ','Youtube','https://gallery.mailchimp.com/8ed9706f04d0d6f6c1e850f81/images/bac1c865-3b4e-47f7-8d1f-de978fcdd9cf.png')
                                        
                                        

                    
                
                        
                tr
                    +margin(40)
            
                //- Séparateur
                tr
                    td
                        table(align="center" width="50%" border="0" cellpadding="0" cellspacing="0") 
                            tbody
                                tr  
                                    td(align="center" width="100%" style="font-size:2px; line-height:2px; background-color:#ABABAB;")
                                        &nbsp;
                tr
                    +margin(40)
                
                //- button Se désabonner
                tr
                    td(align="center")
                        +button('#ffffff','#b5b5b5','*|UNSUB|*','se désabonner')
                
                
                tr
                    +margin(30)
                
                tr
                    td(align="center")
                        |Vous recevez cet email car vous êtes inscrit à la Newsletter sur <a href="https://payname.fr/">Payname.fr</a>
                
                tr
                    +margin(10)
                
                tr
                    td.adresse(align="center")
                        |Payname, 27 rue d'Aubuisson Toulouse 31000 France
                
                tr
                    +margin(40)
        
        
