tr
    td
        table.footer(align="center"  border="0" cellpadding="0" cellspacing="0")
            tbody
                tr
                    td
                        |Vous recevez cet email car vous êtes inscrit à la Newsletter sur <a href="https://payname.fr/">Payname.fr</a>
        
        
