tr
    td
        table.header(align="center" width="95%" border="0" cellpadding="0" cellspacing="0")
            tbody
                tr
                    +margin(30)
                    
                - each val in header   
                    tr
                        td.title(align="center")
                            =val.nomNewsletter
                    
                    tr
                        +margin(10)
            
                    tr
                        td
                            table(align="center"  border="0" cellpadding="0" cellspacing="0")
                                tbody
                                    tr
                                        td.ico    
                                            img(src="https://gallery.mailchimp.com/8ed9706f04d0d6f6c1e850f81/images/1be26f9a-a6cc-4c27-9dad-3fe9451ef858.png" width="20")
                                        
                                        +margin(20,10)
                                            
                                    
                                        td.date(align="center")
                                            =val.date
                
                
                tr
                    +margin(30)
