//-margin-height
tr
    +margin-height(10)

tr
    td
    
        //- marge width
        table(align="left" width="10" border="0" cellpadding="0" cellspacing="0")
            tbody
                tr
                    +margin-height(20)
    
        //- logo Payname
        table(align="left" width="150" border="0" cellpadding="0" cellspacing="0")
            tbody
                tr
                    td(valign="center" height="40")
                        a(href="https://payname.fr/" target="_blank")
                            img.logo(src="https://gallery.mailchimp.com/8ed9706f04d0d6f6c1e850f81/images/0a69fdc8-8500-4c8e-a144-7d515034f1c7.png" alt="Payname" width="150")
                            
        //- marge width
        table(align="right" width="10" border="0" cellpadding="0" cellspacing="0")
            tbody
                tr
                    +margin-height(40)
        
    
        //- link voir sur un navigateur
        table(align="right" width="250" border="0" cellpadding="0" cellspacing="0" height="40" )
            tbody
                tr
                    td(valign="center" height="40")
                        a(href="https://payname.fr/" target="_blank")
                            |Visualiser cet mail dans un navigateur
        
    
        //- marge width
        table(align="right" width="10" border="0" cellpadding="0" cellspacing="0")
            tbody
                tr
                    +margin-height(40)
    
                        
//-margin-height
tr
    +margin-height(10)     
    
//- FIN PREHEADER  
